In [34]:
import pandas as pd

In [37]:
df = pd.read_csv('C:/Users/79673/Desktop/Обучение/DBeaver/Fantasy_users.csv')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22214 entries, 0 to 22213
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               22214 non-null  object
 1   tech_nickname    22214 non-null  object
 2   class_id         22214 non-null  object
 3   ch_id            22214 non-null  object
 4   ДР               22214 non-null  object
 5   pers gender      22212 non-null  object
 6   registration_dt  22214 non-null  object
 7   server           22212 non-null  object
 8   race_id          22214 non-null  object
 9   payer            22214 non-null  int64
 10  loc id           22214 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.9+ MB